##### Chapter 5 ##### 
### btree is the best
version: 2.1
executors:
  my-custom-executor:
    docker:
      - image: cimg/base:stable
      
jobs:
  my-job-name:

    executor: my-custom-executor
    steps:
      - checkout
      - run: |
          # echo Hello, World!

workflows:
  my-custom-workflow:
    jobs:
      - my-job-name
      
deployment:
  dockerhub:
    branch: master
    commands:
      - $DOCKER_HUB_TRIGGER

test:
  override:   
    - mocha 

store_test_results:
    path: test-results/mocha
    